swagger: '2.0'
info:
  title: Action Exporter API
  description: >
    The Action Exporter API provides support endpoints to store FreeMarker templates, template mappings and to enable
    exports to be initiated for ActionRequests previously stored.

    Note that all of the endpoints this service provides are authenticated using HTTP basic authentication.
  version: 9.28.0
schemes:
  - http
basePath: /
produces:
  - application/json
paths:
  /templates:
    get:
      summary:  Gets all templates.
      description: Returns all templates.
      parameters:
        - name: Accept
          in: header
          description: Response type, application/json.
          required: false
          type: string
      responses:
        200:
          description: All templates.
          schema:
            type: array
            items:
              $ref: '#/definitions/Template'
        204:
          description: No templates found.
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/Error'
  /templates/{templateName}:
    get:
        summary:  Gets the template for the specified templateName.
        description: Returns details of the template for the supplied templateName.
        parameters:
          - name: Accept
            in: header
            description: Response type, application/json.
            required: false
            type: string
          - name: templateName
            description: Unique template name
            in: path
            required: true
            type: string
        responses:
          200:
            description: Template details for the supplied templateName.
            schema:
              $ref: '#/definitions/Template'
          404:
            description: templateName not found
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
    post:
      summary: Stores a FreeMarker template
      description: Stores a FreeMarker template
      consumes:
        - multipart/form-data
      parameters:
        - name: Accept
          in: header
          description: Response type, application/json
          required: false
          type: string
        - name: templateName
          in: path
          type: string
          description: Unique template name
          required: true
        - name: file
          in: formData
          type: file
          description: Template file to store
          required: true
      responses:
        201:
          description: Template file stored
          schema:
            $ref: '#/definitions/Template'
        400:
          description: Invalid input
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /templatemappings:
      get:
        summary:  Gets all template mappings.
        description: Returns all template mappings.
        parameters:
          - name: Accept
            in: header
            description: Response type, application/json.
            required: false
            type: string
        responses:
          200:
            description: All template mappings.
            schema:
              type: array
              items:
                $ref: '#/definitions/TemplateMapping'
          204:
            description: No template mappings found.
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/Error'
  /templatemappings/{templateMappingName}:
      get:
        summary:  Gets the template mapping for the specified templateMappingName.
        description: Returns details of the template mapping for the supplied templateMappingName.
        parameters:
          - name: Accept
            in: header
            description: Response type, application/json.
            required: false
            type: string
          - name: templateMappingName
            description: Unique template mapping name
            in: path
            required: true
            type: string
        responses:
          200:
            description: Template mapping details for the supplied templateMappingName.
            schema:
              $ref: '#/definitions/TemplateMapping'
          404:
            description: templateMappingName not found
            schema:
              $ref: '#/definitions/Error'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
      post:
        summary: Stores a FreeMarker template mapping
        description: Stores a FreeMarker template mapping
        consumes:
          - multipart/form-data
        parameters:
          - name: Accept
            in: header
            description: Response type, application/json
            required: false
            type: string
          - name: templateMappingName
            in: path
            type: string
            description: Unique template mapping name
            required: true
          - name: file
            in: formData
            type: file
            description: Template mapping file to store
            required: true
        responses:
          201:
            description: Template mapping file stored
            schema:
              $ref: '#/definitions/TemplateMapping'
          400:
            description: Invalid input
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/Error'
  /actionrequests:
    get:
      summary: Gets all ActionRequests.
      description: Returns all ActionRequests.
      parameters:
        - name: Accept
          in: header
          description: Response type, application/json.
          required: false
          type: string
        - name: actionType
          in: query
          description: Action type to filter by
          required: false
          type: string
        - name: dateFrom
          in: query
          description: Date from to filter by
          required: false
          type: string
        - name: dateTo
          in: query
          description: Date from to filter by
          required: false
          type: string
      responses:
        200:
          description: An array of ActionRequests
          schema:
            type: array
            items:
              $ref: '#/definitions/ActionRequestDocument'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Triggers the export of the actionRequests' information. (NOT yet implemented - TBD)
      description: Triggers the export of the actionRequests' information.
      parameters:
        - name: Accept
          in: header
          description: Response type, application/json.
          required: false
          type: string
        - name: actionType
          in: query
          description: Action type to filter by
          required: false
          type: string
        - name: dateFrom
          in: query
          description: Date from to filter by
          required: false
          type: string
        - name: dateTo
          in: query
          description: Date from to filter by
          required: false
          type: string
      responses:
        201:
          description: ActionRequests for the specified parameters exported successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ActionRequestDocument'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /actionrequests/{actionId}:
    get:
      summary:  Gets the actionRequest's information for the specified actionId.
      description: Returns details of the actionRequest's information for the specified actionId.
      parameters:
        - name: Accept
          in: header
          description: Response type, application/json.
          required: false
          type: string
        - name: actionId
          description: Unique action ID.
          in: path
          required: true
          type: integer
      responses:
        200:
          description: actionRequest's details for the supplied action ID.
          schema:
            $ref: '#/definitions/ActionRequestDocument'
        404:
          description: ActionRequest not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Triggers the export of the actionRequest's information for the specified actionId.
      description: Triggers the export of the actionRequest's information for the specified actionId.
      parameters:
        - name: Accept
          in: header
          description: Response type, application/json.
          required: false
          type: string
        - name: actionId
          description: Unique action ID.
          in: path
          required: true
          type: integer
      responses:
        201:
          description: ActionRequest for the specified actionId exported successfully.
          schema:
            $ref: '#/definitions/ActionRequestDocument'
        404:
          description: ActionRequest not found
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Address:
    type: object
    properties:
      uprn:
        type: integer
        description: Unique Property Reference Number.
      category:
        type: string
        description: only if care home or hotel
        enum:
         - HOTEL
         - CARE HOME
      type:
        type: string
        description: Address type CE, HH, I.
      estabType:
        type: string
        description: Communal Establishment type.
      line1:
        type: string
        description: Address details.
      line2:
        type: string
        description: Address details.
      townName:
        type: string
        description: Postal town name.
      postcode:
        type: string
        description: Postal Code.
      outputArea:
        type: string
        description: Census Geography Output Area code.
      lsoaArea:
        type: string
        description: Lower Layer Super Output Area code.
      msoaArea:
        type: string
        description: Middle layer Super Output Area code.
      ladCode:
        type: string
        description: GSS nine character LAD code.
      regionCode:
        type: string
        description: GSS nine character Region geography code.
      eastings:
        type: integer
        description: Easting or x-coordinate.
      northings:
        type: integer
        description: Northing or y-coordinate.
      htc:
        type: integer
        description: Hard to count code.
      latitude:
        type: number
        description: Position North or South of Equator.
      longitude:
        type: number
        description: Position East or West of Greenwich Meridian.
  Template:
    type: object
    required:
      - name
      - content
      - dateModified
    properties:
      name:
        type: string
        description: Unique name for the Template.
      content:
        type: string
        description: Content of the Template.
      dateModified:
        type: string
        format: date-time
        description: Creation date-time.
  TemplateMapping:
    type: object
    required:
      - name
      - content
      - dateModified
    properties:
      name:
        type: string
        description: Unique name for the Template Mapping.
      content:
        type: string
        description: Content of the Template Mapping.
      dateModified:
        type: string
        format: date-time
        description: Creation date-time.
  ActionRequestDocument:
    type: object
    required:
      - actionId
      - actionType
      - address
      - caseId
      - contactName
      - dateStored
      - iac
    properties:
      actionId:
        type: integer
        description: Unique actionId.
      actionType:
        type: string
        description: Action type.
      address:
        $ref: '#/definitions/Address'
      caseId:
        type: integer
        description: Unique caseId.
      contactName:
        type: string
        description: Contact Name.
      dateStored:
        type: string
        format: date-time
        description: Creation date-time.
      iac:
        type: string
        description: IAC.
  Error:
    type: object
    properties:
      code:
        description: Error code
        type: string
      timestamp:
        description:  Unique error timestamp that can be searched for in logs
        type: integer
      message:
        description: Error message
        type: string
securityDefinitions:
  UserSecurity:
    type: basic
security:
  - UserSecurity: []
