services:

  postgres-database:
    container_name: postgres-case-it
    image: europe-west2-docker.pkg.dev/ons-ci-rmrasbs-sandbox/images/postgres:14
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
    - "15432:5432"

  pubsub-emulator:
    container_name: pubsub-emulator-it
    image: europe-west2-docker.pkg.dev/ons-ci-rmrasbs-sandbox/images/pubsub-emulator
    ports:
    - "18681:8681"
    environment:
    - PUBSUB_PROJECT1=ras-rm-dev,test_case_creation_topic:test_case_creation_subscription,test_event_status_topic:test_event_status_subscription

  survey:
    container_name: survey-case-it
    image: europe-west2-docker.pkg.dev/ons-ci-rmrasbs-sandbox/images/survey
    external_links:
    - postgres-case-it
    environment:
    - DATABASE_URL=postgres://postgres:postgres@postgres-case-it:5432/postgres?sslmode=disable
    - security_user_name=admin
    - security_user_password=secret
    ports:
    - "38080:8080"

  wiremock:
      container_name: wiremock-case-it
      image: wiremock/wiremock:3.13.0
      ports:
          - "18002:8080"
      environment:
          - WIREMOCK_PORT=8080
          - WIREMOCK_HOST=wiremock-case-it
          - WIREMOCK_URL=http://wiremock-case-it:18002/__admin/mappings