apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ .Values.crons.retryEventScheduler.name }}
spec:
  schedule: "{{ .Values.crons.retryEventScheduler.cron }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: {{ .Values.crons.retryEventScheduler.name }}
              image: radial/busyboxplus:curl
              env:
                - name: SECURITY_USER_NAME
                  valueFrom:
                    secretKeyRef:
                      name: security-credentials
                      key: security-user
                - name: SECURITY_USER_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: security-credentials
                      key: security-password
                - name: APP_NAME
                  {{- if .Values.dns.enabled }}
                  value: "case.{{ .Values.namespace }}.svc.cluster.local"
                  {{- else }}
                  value: "$(CASE_SERVICE_HOST)"
                  {{- end }}
                - name: APP_PORT
                  value: "{{ .Values.service.port }}"
                - name: TARGET
                  value: {{ .Values.crons.retryEventScheduler.target }}
              args:
                - /bin/sh
                - -c
                - curl -X POST -u $(SECURITY_USER_NAME):$(SECURITY_USER_PASSWORD) http://$(APP_NAME):$(APP_PORT)/$(TARGET)
          restartPolicy: OnFailure
